<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style type="text/css">
        #loginBox {
            margin: 20% auto;
            width: 200px;
        }
    </style>
</head>
<body>

    <form action="index.php" method="POST" id="loginBox">
        <h2 style="text-align:center">Forgot Password</h2>
        <h4>Enter registed e-mail to get the email with the further instructions</h4>
        <input type="text" name="user" placeholder="Email" autocapitalize="off" /><br />

        

        
        

    </form>
    <div class="content">
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
